*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/* navbar styles */
.nav1{
    background-color: white;
    height:110px;
    width: 100%;
    display: flex;

}
.nav2{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1e293b;
    color: white;
    align-items: center;
    padding:15px;
    border-radius:15px;
    width: 95%;
    margin:auto;
}
.nav2>div>img{
    height: 50px;
}
.res{
    display: flex;
    justify-content: space-between;
    width:20%;
}
.res>a{
    text-decoration: none;
    color: white;
    font-size:18px;
}
/* section styles */
.section{
    background-color: #334155;
    padding-top: 20px;
    width: 100%;
    margin: auto;
}
/* colorItem */
.colorItem{
    display: flex;
    margin: auto;
    background-color: #64748b;
    border-radius:45px;
    height: 50px;
    width: 28%;
    padding:45px;
    align-items: center;
    gap:4px;
    position: relative;
}
.color1{
    height: 22px;
    width: 23px;
    background-color:#890afe;
    border-radius: 50%;
}
.color2{
    height: 22px;
    width: 23px;
    background-color:black;
    border-radius: 50%;
}
.color3{
    height: 22px;
    width: 23px;
    background-color:white;
    border-radius: 50%;
}
.color4{
    height: 22px;
    width: 23px;
    background-color:greenyellow;
    border-radius: 50%;
}
.color{
   align-content: flex-start;
   cursor: pointer;
}
.webMobi{
  display: flex;
  gap: 5px;
  width:60%;
  justify-content: end;
}
.web{
    width:50px;
    display: flex;
    background-color: blue;
    height: 30px;
    border-radius: 45px;
    color: white;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.mobile{
    width:65px;
    display: flex;
    border: none;
    outline: 1px solid rgb(232, 222, 222);
    height: 30px;
    border-radius: 45px;
    color: white;
    align-items: center;
    justify-content: center;
    transition: 0.4s ease;
    cursor: pointer;
}
.mobile:hover{
    background-color:rgba(0, 0, 255, 0.233);
}
.refresh{
    background-color: black;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -20%;
    top: 75%;
    left: 40%;
    cursor: pointer;
}

/* 8 divsions styles */
.boxes{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    padding: 45px;
    margin: 0 auto;
}
.item{
    width:370px;
    height:280px;
    background-color: lightgreen;
    border-radius: 10px;
    word-wrap: break-word;
    box-sizing: border-box;
}
.item1,.item4,.item6,.item7{
    background-color: #1d2ed5;
}
.green{
    background-color: #5be754;
}
.top{
    display: flex;
    /* width:100%; */
    /* border: 2px solid; */
    gap: 30px;
    flex-direction: row-reverse;
    padding: 10px;
    cursor: pointer;
}

/* para line styles */
.line{
    display: flex;
    height: 200px;
    flex-direction: column;
    gap: 20px;
    /* border: 2px solid; */
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.line1{
    font-size: 25px;
    font-weight: 700;
    line-height: 1.7;
    text-align:center;
}
.started{
    background-color: #5be754;
    width: 95px;
    height: 30px;
    border-radius:30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:5px;
    cursor: pointer;
}

/* hover effect */
.hover1{
    display: flex;
    width:370px;
    height:41px;
    background-color:white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    align-items: center;
    z-index: -1;
    position: absolute;
    /* bottom: 0; */
    transition: 0.4s ease;
}
.hoverItem1{
    height: 15px;
    width: 190px;
    background-color: blue;
}
.hoverItem2{
    height: 15px;
    width: 75px;
    background-color:black;
}
.hoverItem3{
    height: 15px;
    width: 30px;
    background-color: #5be754;

}
/* copy element  */
.copy{
    display: flex;
    flex-direction: row-reverse;
    /* border: 2px solid; */
    width: 20%;
    justify-content: space-around;
}
.cop{
    height: 32px;
    width: 32px;
    display: flex;
    background-color: blueviolet;
    align-items: center;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    padding: 2px;
}
.item1:hover>.hover1{
   z-index: 999;
}
.item4:hover>.hover1{
    z-index: 999;
 }.item6:hover>.hover1{
    z-index: 999;
 }.item7:hover>.hover1{
    z-index: 999;
 }


 /* green boxes styles */
 .green>.top>div{
    display: flex;
    /* width:100%; */
    /* border: 2px solid; */
    gap: 30px;
    color: white;
    flex-direction: row-reverse;
    padding: 10px;
    cursor: pointer;
}

/* para line styles */
.green>.line{
    display: flex;
    height: 180px;
    flex-direction: column;
    gap: 20px;
    /* border: 2px solid; */
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.green>.line>.line1{
    font-size: 25px;
    font-weight: 700;
    line-height: 1.7;
    text-align:center;
    color: white;
}
.green>.line>.started{
    background-color: blue;
    width: 95px;
    height: 30px;
    border-radius:30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:5px;
    cursor: pointer;
    color: white;
}

/* hover effect */
.green>.hover1{
    display: flex;
    width:370px;
    height:41px;
    background-color:white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    align-items: center;
    z-index: -1;
    position: absolute;
    /* bottom: 0; */
    transition: 0.4s ease;
}
.green>.hover1>.hoverItem1{
    height: 15px;
    width: 190px;
    background-color:  #5be754;
}
.green>.hover1>.hoverItem2{
    height: 15px;
    width: 75px;
    background-color:white;
}
.green>.hover1>.hoverItem3{
    height: 15px;
    width: 30px;
    background-color:blue;

}
/* copy element  */
.green>.hover1>.copy{
    display: flex;
    flex-direction: row-reverse;
    /* border: 2px solid; */
    width: 20%;
    justify-content: space-around;
}
.green>.hover1>.cop{
    height: 32px;
    width: 32px;
    display: flex;
    background-color: blueviolet;
    align-items: center;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    padding: 2px;
}
.item1:hover>.hover1{
   z-index: 999;
}
.item4:hover>.hover1{
    z-index: 999;
 }.item6:hover>.hover1{
    z-index: 999;
 }.item7:hover>.hover1{
    z-index: 999;
 }
 .green:hover>.hover1{
    z-index: 999;
 }
.footer{
    display: flex;
    background-color: #0f172a;
    height: 350px;
    justify-content:space-between;
}
.foot{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    /* justify-content: center; */
    padding: 40px;
    /* align-items: center; */
    align-items: start;
}
.boldd{
    color: white;
    font-size: 20px;
    font-weight: 700;
}
.foot>div{
    text-align:justify;
}